<?xml version = "1.0" encoding = "UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <servlet>
        <servlet-name>Push Servlet</servlet-name>
        <servlet-class>org.primefaces.push.PushServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>Push Servlet</servlet-name>
        <url-pattern>/primepush/*</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>HtmlAuth</web-resource-name>
            <description>zasady bezpieczeństwa aplikacji</description>
            <url-pattern>/content/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Administrator</role-name>
            <role-name>User</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>mysqldomain</realm-name>
        <form-login-config>
            <form-login-page>/login/login.xhtml</form-login-page>
            <form-error-page>/login/error.xhtml</form-error-page>
        </form-login-config>
    </login-config>

    <security-role>
        <role-name>Administrator</role-name>
    </security-role>
    <security-role>
        <role-name>User</role-name>
    </security-role>

    <filter>
        <filter-name>LogFilter</filter-name>
        <filter-class>com.agh.edu.client.filter.LogFilter</filter-class>
        <init-param>
            <param-name>allowedDomain</param-name>
            <param-value>index.xhtml</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>BrowserFilter</filter-name>
        <filter-class>com.agh.edu.client.filter.BrowserFilter</filter-class>
        <init-param>
            <param-name>allowedDomain</param-name>
            <param-value>index.xhtml</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>LogFilter</filter-name>
        <url-pattern>/content/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>BrowserFilter</filter-name>
        <url-pattern>/login/login.xhtml</url-pattern>
        <url-pattern>/content/*</url-pattern>
    </filter-mapping>
</web-app>